<div ng-controller="TagListCtrl">
  <table>
    Name: <input ng-model="newTag.name"> <br>
    Color: <input ng-model="newTag.color"> <br>
    Order: <input ng-model="newTag.order"> <br>
    <button ng-click="saveNewTag()">Save</button>
  </div>
  <ul ui-sortable ng-model="newTag">
    <li ng-repeat="tag in tags">
      {{tag.name}}
      {{tag.color}}
      {{tag.order}}
      <a href="" ng-click="deleteTag(tag)">Remove</a>
    </li>
  </ul>
</table>


</div>
