<!-- <div ng-controller="TagListCtrl" ng-style="{color: myColor}">
  <table>
    Name: <input ng-model="newTag.name"> <br>
    Color: <input ng-model="newTag.color"> <br>
    Order: <input ng-model="newTag.order"> <br>
    <button ng-click="saveNewTag()">Save</button>
  </div>
  <tr ng-show="tags.length" ng-repeat="tag in tags">
    <td>{{tag.name}}</td>
    <td>{{tag.color}}</td>
    <td>{{tag.order}}</td>
    <td>
        <a href="/tags/{{tag.id}}/edit.html">Edit</a> | <a href="" ng-click="deleteUser(user.id)">Remove</a>
    </td>
  </tr>
</table>


</div> -->
