<!DOCTYPE html>
<html ng-app="tagsapp">
<head>
  <title>IntralistTags</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="bower_components/angular-color-picker/angularjs-color-picker.min.css" />
  <!-- <script type="text/javascript" src="bower_components/tinycolor/dist/tinycolor-min.js"></script> -->
  <!-- <script type="text/javascript" src="bower_components/angular-color-picker/angularjs-color-picker.min.js"></script> -->
  <!-- <script type="text/javascript" src="modules/directives/sortable/src/sortable.js"></script> -->

  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
